/*
  The following template explains how to add a new "style" to your chessboard.
  Do the following steps:

  1. Copy that file to a new location, and give it a reasonable name.
  2. Replace all occurences of `.green` with the key you want to have to your theme.
  3. Adjust the settings, and remove commented out styles if you want.
  4. Add the style to your configuration of */

/* board */
.green .board-b72b1 {
/*    border: 2px solid #404040; */
    border-color: green;
}

/* white square */
.green .white-1e1d7 {
    background-color: lightgreen;
    color: darkgreen;
}

/* black square */
.green .black-3c85d {
    color: lightgreen;
    background-color: darkgreen;
}

/* highlighted square */
.green .highlight1-32417, .highlight2-9c5d2 {
    -webkit-box-shadow: inset 0 0 3px 3px yellow;
    -moz-box-shadow: inset 0 0 3px 3px yellow;
    box-shadow: inset 0 0 3px 3px yellow;
}

/* notation */
.green .notation-322f9 {
    /* cursor: default;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-size: 40px;

}

.green .alpha-d2270 {
    bottom: 1px;
    right: 3px;

}

.green .numeric-fc462 {
    top: 0px;
    left: 0px;

}
