<!DOCTYPE html>
<head>
    <script src="/lib/pgnv.js" type="text/javascript"></script>
</head>
<body>
<h2>Minimal configuration</h2>

This example shows the minimal configuration when using the distributed version of PgnViewerJS. There is only one
file needed:

<ul>
    <li>/js/pgnv.js: The concatenated js files of the directory js (including all assets).</li>
</ul>
<div id="board" style="width: 300px"></div>
<script>
    cfg = { pieceStyle: 'merida', theme: 'brown', pgn: '1. e4 e5 2. f4 exf4' };
    PGNV.pgnView("board",cfg);
</script>
</body>
</html>