<!doctype html>
<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Show all NAGs used</title>
        <script src="/lib/dist.js" type="text/javascript"></script>
    </head>
    <body class="merida zeit">
        <h1>Show all NAGs used</h1>
        Hoover over the NAGs and see their tooltip / title in your language.
        <h3>All NAGs with display symbols (locale en)</h3>
        <div id="board1"></div>

        <h3>All NAGs with display symbols (locale de)</h3>
        <div id="board2"></div>
        <script>
            pgn =
                "1. e4$1 e5$2 2. Nf3$3 Nc6$4 3. d4$5 exd4$6 4. Bc4$7 Bc5$10 5. c3$13 dxc3$14 6. Bxf7+$15 Kxf7$16 7. Qd5+$17 Ke8$18 8. Qh5+$19 g6$22 9. Qxc5$23 Nf6$26 10. Nxc3$27 d6$32 11. Qe3$33 Qe7$36 12. O-O$37 Nb4$40 13. Qd2$41 Bg4$44 14. Nd4$45 Kd7$132 15. h3$133 Be6$138 16. a3$139 Nc6$140 17. Re1$141 Kc8$142 18. Nxc6$143 bxc6$144 19. Qe2$145 Nd7$146 20. Qa6+ Kb8 21. Qxc6$238 Nb6$239 22. Nb5$240 Qd7$241 23. Qc3$242 Re8$243 24. a4$244 Kb7$245 25. b3$246 a6$247 26. Nd4$248 c5$252 27. Nxe6$254 Qc6$255 28. Ng5$249 Rac8$250 29. a5$251  Na8$253 30. Be3$254 d5$255";
            PGNV.pgnView("board1", { pgn: pgn, width: 400 });
            PGNV.pgnView("board2", { pgn: pgn, width: 400, locale: "de" });
        </script>
    </body>
</html>
