/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

.container {
    margin-top: 10px;
}

#nav {
    margin: 13px 0 0 0;
}

#nav ul li {
    display: inline;
    margin: 0 20px 0 0;
    margin-bottom: 130px;
}

#nav a {
    text-decoration: none;
}

#nav a:hover {
    text-decoration: underline;
}

/* #Page Styles
================================================== */

table tbody tr:nth-child(even) {
    background: #f9f9f9;
}

table {
    border: 2px solid #f9f9f9;
}

table thead {
    background: #f9f9f9;
    font-weight: 700;
}

table thead tr th {
    padding: 9px 10px;
}

table tbody tr td {
    color: #333;
    padding: 9px 10px;
    vertical-align: top;
    border: none;
}

code {
    background: none;
    color: #000;
    font-family: 'Droid Sans Mono', 'Courier New', monospace;
    font-size: 13px;
    font-weight: normal;
}

code.plain {
    color: #d94d3a;
}

code.string {
    color: blue;
}

/* Navigation
================================================== */

nav.primary ul,
nav.primary ul li {
    margin: 0px;
    background: #4f4f4f;
    color: #fefefe;
}

nav.primary ul li {
    display: inline;
    float: left;
    position: relative;
    color: #fefefe;
}

nav.primary ul li a {
    display: inline-block;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.3em;
    padding: 0 14px;
    color: #fefefe;
}

nav.primary ul li a:hover {
    background: #383838;
    color: #ffffff;
}

nav.primary ul ul {
    position: absolute;
    z-index: 999;

    height: 0px;
    overflow: hidden;

    background: #4f4f4f;
    min-width: 100%;
}

nav.primary ul li:hover ul {
    height: auto;
    overflow: auto;
}

nav.primary ul ul li a {
    display: block;
    line-heigth: 25px;
    text-transform: none;
    letter-spacing: 0.05em;

}

nav.primary ul ul li {
    display: list-item;
    float: none;
    border-bottom: 1px solid #383737;
}

/* Layout Prettyprint
================================================== */
pre.prettyprint { display: block; background-color: #333 }
pre .nocode { background-color: transparent; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Layout Example Page
=================================================== */

div#examples_list_container h4 {
    background: #f2f2f2;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-left: 3px solid #ccc;
    color: #555;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    margin: 0px;
    padding: 15px 20px;
}
div#examples_list_container h4.active {
    background: #4d4d4d;
    border-top: 1px solid #1a1a1a;
    border-right: 1px solid #1a1a1a;
    border-left: 4px solid #1a1a1a;
    color: #fff;
    font-weight: bold;
}
div#examples_list_container ul {
    border-left: 3px solid #eee;
    border-right: 1px solid #eee;
    margin-bottom: 0px;
    padding: 10px 0px;
}
div#examples_list_container li {
    color: #666;
    cursor: pointer;
    list-style: none;
    padding: 5px 0px 5px 20px;
}
div#examples_list_container li:hover {
    color: #222;
}
div#examples_list_container li.active {
    color: #222;
    font-weight: bold;
}
div#example_html_container {
    margin-bottom: 40px;
}
div#example_js_container pre {
    overflow-x: hidden;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/