div.theme.whole
  div.theme.headers
  div.outerBoard
    div.theme.board
    div.theme.buttons
    div.theme.edit
  div.moves
    span.move.white
    span.move
    div.variation
      span.move
      span.move.white
      ...
    ...

