@import "../fontawesome/css/all.css";

:root {
    --space-xss: 0.25rem;
    --space-xs: 0.5rem;
    --space-sm: 0.75rem;
    --space-md: 1.25rem;
    --space-lg: 2rem;
    --space-xl: 3.25rem;
    --space-xxl: 5.25rem;
}

:root {
    --gray-100: #F7FAFC;
    --gray-200: #EDF2F7;
    --gray-300: #E2E8F0;
    --gray-400: #CBD5E0;
    --gray-500: #A0AEC0;
    --gray-600: #718096;
    --gray-700: #4A5568;
    --gray-800: #2D3748;
    --gray-900: #1A202C;
    --box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --highlight: rgba(255, 255, 153, 1.0);
}

/** Reset / Set defaults */
.whole {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
    margin: 0;
}
.whole ul, .whole ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
/*.whole > * {*/
/*    padding: var(--space-xs);*/
/*}*/
.whole:focus {
    /* The following suppresses the outline of the element that has the focus. Only when
       that focus is set, the keyboard mappings work. You may of course enable the outline
       for debugging purposes. */
    outline: 0;
}
/*.whole {*/
/*    margin: var(--space-xs);*/
/*}*/

.whole .moves {
    overflow: auto;
}

.whole .buttons {
    display: flex;
}

/** Layout styles: View */
.whole.layout-left .games, .whole.layout-right .games {
    grid-column: 1 / 3;
}

.whole.layout-left, .whole.layout-right {
    display: grid;
    gap: 0.5em;
    grid-template-columns: auto auto;
    grid-template-rows: 40px auto minmax(auto,1fr) 50px;
}

.whole.layout-left .error, .whole.layout-right .error {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.whole.layout-left .outerBoard, .whole.layout-left .outerBoard {
    grid-row: 3 / 4;
}

.whole.layout-left .outerBoard {
    grid-column: 1 / 2;
}

.whole.layout-right .outerBoard {
    grid-column: 2 / 3;
}

.whole.layout-left .buttons, .whole.layout-right .buttons {
    place-self: center;
    grid-row: 4 / 5;
}

.whole.viewMode.layout-left .buttons, .whole.editMode.layout-right .buttons {
    grid-column: 1 / 2;
}

.whole.viewMode.layout-right .buttons, .whole.editMode.layout-left .buttons {
    grid-column: 2 / 3;
}

.whole.viewMode.layout-left .moves, .whole.viewMode.layout-right .moves {
    grid-row: 3 / 5;
    overflow: auto;
}

.whole.editMode.layout-left .moves, .whole.editMode.layout-right .moves {
    grid-row: 3/4;
    overflow: auto;
}

.whole.editMode .edit {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.whole.layout-left .moves {
    grid-column: 2 / 3;
}

.whole.layout-right .moves {
    grid-column: 1 / 2;
}

/* layout top / bottom */
.whole.layout-top {
    display: grid;
    gap: 0.5em;
    grid-template-columns: auto;
    grid-template-rows: auto minmax(auto,1fr) 50px auto;
}

.whole.layout-bottom {
    display: grid;
    gap: 0.5em;
    grid-template-columns: auto;
    grid-template-rows: auto auto minmax(auto,400px) 50px;
}

.whole.layout-top .error, .whole.layout-bottom .error {
    grid-row: 2/3;
}

.whole.layout-top .outerBoard {
    grid-row: 3/4;
}

.whole.layout-bottom .outerBoard {
    grid-row: 4/5;
}

.whole.layout-top .buttons {
    place-self: center;
    grid-row: 4/5;
}

.whole.layout-bottom .buttons {
    place-self: center;
    grid-row: 5/6;
}

.whole.layout-top .moves, .whole.layout-bottom .moves {
    overflow: auto;
}

.whole.layout-top .moves {
    grid-row: 5/6;
}

.whole.layout-bottom .moves {
    grid-row: 3/4;
}

/** Print mode */
.whole.layout-top.printMode {
    gap: 0;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.whole.layout-top.printMode .moves {
    width: 110%;
}

/** Board mode */
.whole.layout-top.boardMode {
    gap: 0;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

/** Other styling ... */

.fen {
    width: calc(100% - 8px);
    height: 35px;
    margin: 0;
    padding: var(--space-xss);
    font-family: monospace;
}

div.error {
    color: red;
}

div.buttons > i.button, div.edit > i.button {
    color: var(--gray-600);
    background-color: var(--gray-100);
    margin: 0.24rem;
    padding: 4px;
    border: solid var(--gray-300) 1px;
    border-radius: 4px;
}

div.buttons > i.button.selected, div.edit > i.button.selected, .nagMenu.selected {
    color: var(--gray-100);
    background-color: var(--gray-700);
}

div.buttons > i.button:hover,div.edit > i.button:hover  {
    cursor: pointer;
    border: solid dimgrey 1px;
}

div.nagMenu {
    border: 1px grey dotted;
    display: none;
    width: 500px;
}

div.nagMenu a {
    text-decoration: none;
    /*text-align: center;*/
}

div.nagMove, div.nagObservation, div.nagPosition {
    display: flex;
    flex-direction: column;
    flex-basis: 33.3%;
    /*text-align: left;*/
    flex-wrap: wrap;
}
.nagMove i, .nagPosition i, .nagObservation i {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: left;
    margin: var(--space-xss);
}

.nagMove i::before, .nagPosition i::before, .nagObservation i::before {
    content: attr(data-symbol);
    font-style: normal;
    width: var(--space-md);
    justify-content: center;
    align-items: center;
    /*width: 30px;*/
}


a.active i::before {
    background: var(--gray-700) !important;
    color: var(--gray-100)!important;
}

a.active i::before i:hover {
    background: var(--gray-100) !important;
    color: var(--gray-700)!important;
}

.nagMove i:hover, .nagPosition i:hover, .nagObservation i:hover {
    background: var(--gray-700);
    color: var(--gray-100);
}

/*Necessary fixes for examples*/
button.ui-multiselect {
    background-image: none;
    background-color: white;
}

ul.ui-multiselect-checkboxes > li {
    margin-bottom: 0;
}

select.nag {
    width: 40px;
}

textarea.pgn {
    padding: 2px;
    border: 1px solid grey;
    width: 96%;
    height: 100px;
    font-family: monospace;
}

/* Green buttons. */
/*div.buttons.green > .button, div.edit.green > .button {*/
/*    color: green;*/
/*    border: solid lightgrey 1px;*/
/*    border-radius: 4px;*/
/*}*/
/* Blue buttons. */
/*div.buttons.blue > .button, div.edit.blue > .button {*/
/*    color: blue;*/
/*    border: solid lightgrey 1px;*/
/*    border-radius: 4px;*/
/*}*/

.ui-widget {
    font-size: 1em;
}

div.commentRadio label {
    display: inline;
}
div.comment > textarea.comment {
    font-family: monospace;
    width: 96%;
    height: 50px;
    padding: 2px;
}

.moves a {
    text-decoration: underline;
}

.moves .move a.yellow {
    /*background-color: rgba(255, 255, 153, 1.0);*/
    color: var(--gray-800);
    background-color: var(--highlight);
}

.moves .move a {
    text-decoration: none;
    border: 1px solid transparent;
}

.moves .move a:hover {
    border: 1px yellow dotted;
    background-color: var(--highlight);
    cursor: crosshair;
}

.moves .move, select.games {
    font-size: 16px;
    /*font-family: Georgia, "Bitstream Charter", serif;;*/
    color: black;
    font-weight: 700;
    line-height: 24px;
}

.moves > .variation > .move.var {
    font-size: 95%;
    font-weight: 600;
}

.moves .variation .variation .move.var {
    font-size: 90%;
    font-weight: 500;
}

.moves .variation {
    display: block;
    padding: 5px;
}
.moves .variation:before {
    content: ' ( ';
}

.moves .variation .variation:before {
    content: ' ( ';
}

.moves .variation .variation {
    padding-left: 10px;
    padding-right: 10px;
}

.moves .variation .variation:after {
    content: ' ) ';
}

.moves .variation:after {
    content: ' ) ';
}

.moves > .varblock .white:before {
    display: inline;
}

.moves .move .comment {
    color: var(--gray-800);
    font-weight: 500;
}

/*.moves .move .comment.timeTiny {*/
/*    font-weight: 300;*/
/*    font-size: 60%;*/
/*}*/

/*.moves .move .comment.timeLarge {*/
/*}*/

/*.moves .move .timeNormal {*/
/*    font-weight: 400;*/
/*    font-size: 80%;*/
/*}*/

/* Pattern of the Chess.com similar */
/* board */
/*.chesscom.whole {*/
/*    !*    border: 2px solid #404040; *!*/
/*    border: 2px gray solid;*/
/*    display: flex;*/
/*    flex-flow: row wrap;*/
/*}*/

/*.chesscom .headers {*/
/*    font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;*/
/*    font-size: 18px;*/
/*!*    padding: 15px;*!*/
/*    background-color: #f3f3f3;*/
/*    font-weight: bold;*/
/*    flex: 1 100%;*/
/*}*/

/*.chesscom .headers > .whiteHeader:before {*/
/*    content: "";*/
/*}*/

/*.chesscom .headers > .whiteHeader {*/
/*    display: inline-block;*/
/*    padding-top: 10px;*/
/*    padding-left: 10px;*/
/*}*/

/*.chesscom .headers > .blackHeader:before {*/
/*    content: "  vs. ";*/
/*}*/

/*.chesscom .headers > .blackHeader {*/
/*    display: inline-block;*/
/*    padding-top: 10px;*/
/*    padding-left: 10px;*/
/*}*/
/*.chesscom .headers > .restHeader {*/
/*    display: block;*/
/*    padding-left: 10px;*/
/*    padding-bottom: 10px;*/
/*    font-weight: 500;*/
/*    font-size: 80%;*/
/*}*/

/*.chesscom .players {*/
/*    font-weight: 900;*/
/*}*/

/*.chesscom .outerBoard {*/
/*    !* float: left; *!*/
/*    width: 388px;*/
/*}*/

/*.chesscom .endBoard {*/
/*    clear: both;*/
/*}*/
/*.chesscom .moves a {*/
/*    text-decoration: none;*/
/*}*/

/**
  CHESSGROUND changes.
  */
 
.cg-wrap.coords-inner {
    margin-bottom: 0;
    margin-right: 0;
}
.cg-wrap {
    margin-bottom: 15px;
    margin-right: 15px;
}
.cg-wrap.coords-inner coords.ranks {
    right: -2px;
}
.cg-wrap.coords-inner coords.files {
    bottom: 2px;
    left: 2px;
    text-align: left;
}
.cg-wrap coords.files {
    text-transform: none;
}

/* board and colorMarker */

.colorMarker {
    width: 20px; height: 20px;
    border-color: black;
    border-width: 2px;
    border-style: double;
    margin-left: 50px;
    align-self: center;
}

.colorMarker.circle {
    border-radius: 10px;
}

.colorMarker.circle-big {
    border-radius: 20px;
    width: 40px; height: 40px;
}

.colorMarker.circle-small {
    border-radius: 5px;
    width: 10px; height: 10px;
}

.cm-black {
    background-color: black;
}

.cm-white {
    background-color: white;
}

.cm-big {
    width: 40px; height: 40px;   
}

.cm-small {
    width: 10px; height: 10px;
}