@font-face {
  font-family: Alpha;
  src: url('./ChessAlpha.woff') format("woff");
}
@font-face {
  font-family: Merida;
  src: url('./ChessMerida.woff') format("woff");
}
@font-face {
  font-family: Berlin;
  src: url('./ChessBerlin.woff') format("woff");
}
@font-face {
  font-family: NotoSans;
  src: url('./NotoSans.woff') format("woff");
}
@font-face {
  font-family: "CAChess";
  src: url('./CAChess-min.woff') format("woff");
}
@font-face {
  font-family: "CAChessFig";
  src: url('./CAChess-fig.woff') format("woff");
}

move fig.figurine {
  font-family: Alpha;
}
move fig.figurine.merida {
  font-family: Merida;
}
move fig.figurine.berlin {
  font-family: Berlin;
}
move fig.figurine.noto {
  font-family: NotoSans;
}
move fig.figurine.cachess {
  font-family: CAChessFig;
}

move san nag {
  font-family: CAChess;
}

/* Don't show diagram nags in the notation. */
.pgnvjs .moves move  nag[data-value="$220"]::before {
  content: "";
}

.pgnvjs .moves move  nag[data-value="$221"]::before {
  content: "";
}

/* CA Chess Font symbols */
.pgnvjs .moves move  nag[data-value="$246"]::before {
  content: "\00A8";
}

.pgnvjs .moves move  nag[data-value="$247"]::before {
  content: "\00AE";
}

.pgnvjs .moves move  nag[data-value="$248"]::before {
  content: "\00AF";
}

.pgnvjs .moves move  nag[data-value="$252"]::before {
  content: "\045B";
}

.pgnvjs .moves move  nag[data-value="$254"]::before {
  content: "\00AA";
}

.pgnvjs .moves move  nag[data-value="$255"]::before {
  content: "\0454";
}

/* Additional CA Chess Font symbols (drawn myself) */
.pgnvjs .moves move  nag[data-value="$251"]::before {
  content: "\00DE";
}

.pgnvjs .moves move  nag[data-value="$249"]::before {
  content: "\00DF";
}

.pgnvjs .moves move  nag[data-value="$250"]::before {
  content: "\00E0";
}

.pgnvjs .moves move  nag[data-value="$253"]::before {
  content: "\00E1";
}
.pgnvjs .moves move  nag[data-value="$254"]::before {
  content: "\00AA";
}
.pgnvjs .moves move  nag[data-value="$255"]::before {
  content: "\00BA";
}



/*
 * Board
 */
.blue cg-board {
  background-image: url(../img/board/blue.svg);
}
.brown cg-board {
  background-image: url(../img/board/brown.svg);
}
.zeit cg-board {
  background-image: url(../img/board/zeit.svg);
}
.informator cg-board {
  background-image: url(../img/board/informator.svg);
}
.sportverlag cg-board {
  background-image: url(../img/board/sportverlag.svg);
}
.beyer cg-board {
  background-image: url(../img/board/beyer.svg);
}
.falken cg-board {
  background-image: url(../img/board/falken.svg);
}
.green cg-board {
  background-image: url(../img/board/green.svg);
}

/* SWAL buttons */
.swal-modal {
  width: unset;
  padding: 0;
  margin: 0;
  position: absolute;
}
.swal-button {
  background-color: unset;
  padding: 0;
}
.swal-button-container {
  display: block;
  margin: 0;
}
.swal-footer {
  margin:0; padding: 0;
}
.swalpgnv {
  display: block;
  width: 40px;
  height: 40px;
  background-size: 40px;
}
.swalpgnv.queen {
  background-image: url('../img/chesspieces/merida/wQ.svg');
}
.swalpgnv.rook {
  background-image: url('../img/chesspieces/merida/wR.svg');
}
.swalpgnv.bishop {
  background-image: url('../img/chesspieces/merida/wB.svg');
}
.swalpgnv.knight {
  background-image: url('../img/chesspieces/merida/wN.svg');
}
/*
 * Merida
 */
.merida  cg-board piece.pawn.white {
  background-image: url('../img/chesspieces/merida/wP.svg');
}
.merida  cg-board piece.bishop.white {
  background-image: url('../img/chesspieces/merida/wB.svg');
}
.merida  cg-board piece.knight.white {
  background-image: url('../img/chesspieces/merida/wN.svg');
}
.merida  cg-board piece.rook.white {
  background-image: url('../img/chesspieces/merida/wR.svg');
}
.merida  cg-board piece.queen.white {
  background-image: url('../img/chesspieces/merida/wQ.svg');
}
.merida  cg-board piece.king.white {
  background-image: url('../img/chesspieces/merida/wK.svg');
}
.merida  cg-board piece.pawn.black {
  background-image: url('../img/chesspieces/merida/bP.svg');
}
.merida  cg-board piece.bishop.black {
  background-image: url('../img/chesspieces/merida/bB.svg');
}
.merida  cg-board piece.knight.black {
  background-image: url('../img/chesspieces/merida/bN.svg');
}
.merida  cg-board piece.rook.black {
  background-image: url('../img/chesspieces/merida/bR.svg');
}
.merida  cg-board piece.queen.black {
  background-image: url('../img/chesspieces/merida/bQ.svg');
}
.merida  cg-board piece.king.black {
  background-image: url('../img/chesspieces/merida/bK.svg');
}

/* Wikipedia */
.wikipedia  cg-board piece.pawn.white {
  background-image: url('../img/chesspieces/wikipedia/wP.svg');
}
.wikipedia  cg-board piece.bishop.white {
  background-image: url('../img/chesspieces/wikipedia/wB.svg');
}
.wikipedia  cg-board piece.knight.white {
  background-image: url('../img/chesspieces/wikipedia/wN.svg');
}
.wikipedia  cg-board piece.rook.white {
  background-image: url('../img/chesspieces/wikipedia/wR.svg');
}
.wikipedia  cg-board piece.queen.white {
  background-image: url('../img/chesspieces/wikipedia/wQ.svg');
}
.wikipedia cg-board piece.king.white {
  background-image: url('../img/chesspieces/wikipedia/wK.svg');
}
.wikipedia cg-board piece.pawn.black {
  background-image: url('../img/chesspieces/wikipedia/bP.svg');
}
.wikipedia cg-board piece.bishop.black {
  background-image: url('../img/chesspieces/wikipedia/bB.svg');
}
.wikipedia cg-board piece.knight.black {
  background-image: url('../img/chesspieces/wikipedia/bN.svg');
}
.wikipedia cg-board piece.rook.black {
  background-image: url('../img/chesspieces/wikipedia/bR.svg');
}
.wikipedia cg-board piece.queen.black {
  background-image: url('../img/chesspieces/wikipedia/bQ.svg');
}
.wikipedia cg-board piece.king.black {
  background-image: url('../img/chesspieces/wikipedia/bK.svg');
}
/* Alpha */
.alpha cg-board piece.pawn.white {
  background-image: url('../img/chesspieces/alpha/wP.svg');
}
.alpha cg-board piece.bishop.white {
  background-image: url('../img/chesspieces/alpha/wB.svg');
}
.alpha cg-board piece.knight.white {
  background-image: url('../img/chesspieces/alpha/wN.svg');
}
.alpha cg-board piece.rook.white {
  background-image: url('../img/chesspieces/alpha/wR.svg');
}
.alpha cg-board piece.queen.white {
  background-image: url('../img/chesspieces/alpha/wQ.svg');
}
.alpha cg-board piece.king.white {
  background-image: url('../img/chesspieces/alpha/wK.svg');
}
.alpha cg-board piece.pawn.black {
  background-image: url('../img/chesspieces/alpha/bP.svg');
}
.alpha cg-board piece.bishop.black {
  background-image: url('../img/chesspieces/alpha/bB.svg');
}
.alpha  cg-board piece.knight.black {
  background-image: url('../img/chesspieces/alpha/bN.svg');
}
.alpha  cg-board piece.rook.black {
  background-image: url('../img/chesspieces/alpha/bR.svg');
}
.alpha  cg-board piece.queen.black {
  background-image: url('../img/chesspieces/alpha/bQ.svg');
}
.alpha  cg-board piece.king.black {
  background-image: url('../img/chesspieces/alpha/bK.svg');
}
/* Beyer */
.beyer  cg-board piece.pawn.white {
  background-image: url('../img/chesspieces/beyer/wP.png');
}
.beyer  cg-board piece.bishop.white {
  background-image: url('../img/chesspieces/beyer/wB.png');
}
.beyer  cg-board piece.knight.white {
  background-image: url('../img/chesspieces/beyer/wN.png');
}
.beyer  cg-board piece.rook.white {
  background-image: url('../img/chesspieces/beyer/wR.png');
}
.beyer  cg-board piece.queen.white {
  background-image: url('../img/chesspieces/beyer/wQ.png');
}
.beyer  cg-board piece.king.white {
  background-image: url('../img/chesspieces/beyer/wK.png');
}
.beyer  cg-board piece.pawn.black {
  background-image: url('../img/chesspieces/beyer/bP.png');
}
.beyer  cg-board piece.bishop.black {
  background-image: url('../img/chesspieces/beyer/bB.png');
}
.beyer  cg-board piece.knight.black {
  background-image: url('../img/chesspieces/beyer/bN.png');
}
.beyer  cg-board piece.rook.black {
  background-image: url('../img/chesspieces/beyer/bR.png');
}
.beyer  cg-board piece.queen.black {
  background-image: url('../img/chesspieces/beyer/bQ.png');
}
.beyer  cg-board piece.king.black {
  background-image: url('../img/chesspieces/beyer/bK.png');
}
/* Case */
.case  cg-board piece.pawn.white {
  background-image: url('../img/chesspieces/case/wP.svg');
}
.case  cg-board piece.bishop.white {
  background-image: url('../img/chesspieces/case/wB.svg');
}
.case  cg-board piece.knight.white {
  background-image: url('../img/chesspieces/case/wN.svg');
}
.case  cg-board piece.rook.white {
  background-image: url('../img/chesspieces/case/wR.svg');
}
.case  cg-board piece.queen.white {
  background-image: url('../img/chesspieces/case/wQ.svg');
}
.case  cg-board piece.king.white {
  background-image: url('../img/chesspieces/case/wK.svg');
}
.case  cg-board piece.pawn.black {
  background-image: url('../img/chesspieces/case/bP.svg');
}
.case  cg-board piece.bishop.black {
  background-image: url('../img/chesspieces/case/bB.svg');
}
.case  cg-board piece.knight.black {
  background-image: url('../img/chesspieces/case/bN.svg');
}
.case  cg-board piece.rook.black {
  background-image: url('../img/chesspieces/case/bR.svg');
}
.case  cg-board piece.queen.black {
  background-image: url('../img/chesspieces/case/bQ.svg');
}
.case  cg-board piece.king.black {
  background-image: url('../img/chesspieces/case/bK.svg');
}

/* Condal */
.condal  cg-board piece.pawn.white {
  background-image: url('../img/chesspieces/condal/wP.png');
}
.condal  cg-board piece.bishop.white {
  background-image: url('../img/chesspieces/condal/wB.png');
}
.condal  cg-board piece.knight.white {
  background-image: url('../img/chesspieces/condal/wN.png');
}
.condal  cg-board piece.rook.white {
  background-image: url('../img/chesspieces/condal/wR.png');
}
.condal  cg-board piece.queen.white {
  background-image: url('../img/chesspieces/condal/wQ.png');
}
.condal  cg-board piece.king.white {
  background-image: url('../img/chesspieces/condal/wK.png');
}
.condal  cg-board piece.pawn.black {
  background-image: url('../img/chesspieces/condal/bP.png');
}
.condal  cg-board piece.bishop.black {
  background-image: url('../img/chesspieces/condal/bB.png');
}
.condal  cg-board piece.knight.black {
  background-image: url('../img/chesspieces/condal/bN.png');
}
.condal  cg-board piece.rook.black {
  background-image: url('../img/chesspieces/condal/bR.png');
}
.condal  cg-board piece.queen.black {
  background-image: url('../img/chesspieces/condal/bQ.png');
}
.condal  cg-board piece.king.black {
  background-image: url('../img/chesspieces/condal/bK.png');
}
/* Leipzig */
.leipzig  cg-board piece.pawn.white {
  background-image: url('../img/chesspieces/leipzig/wP.svg');
}
.leipzig  cg-board piece.bishop.white {
  background-image: url('../img/chesspieces/leipzig/wB.svg');
}
.leipzig  cg-board piece.knight.white {
  background-image: url('../img/chesspieces/leipzig/wN.svg');
}
.leipzig  cg-board piece.rook.white {
  background-image: url('../img/chesspieces/leipzig/wR.svg');
}
.leipzig  cg-board piece.queen.white {
  background-image: url('../img/chesspieces/leipzig/wQ.svg');
}
.leipzig  cg-board piece.king.white {
  background-image: url('../img/chesspieces/leipzig/wK.svg');
}
.leipzig  cg-board piece.pawn.black {
  background-image: url('../img/chesspieces/leipzig/bP.svg');
}
.leipzig  cg-board piece.bishop.black {
  background-image: url('../img/chesspieces/leipzig/bB.svg');
}
.leipzig  cg-board piece.knight.black {
  background-image: url('../img/chesspieces/leipzig/bN.svg');
}
.leipzig  cg-board piece.rook.black {
  background-image: url('../img/chesspieces/leipzig/bR.svg');
}
.leipzig  cg-board piece.queen.black {
  background-image: url('../img/chesspieces/leipzig/bQ.svg');
}
.leipzig  cg-board piece.king.black {
  background-image: url('../img/chesspieces/leipzig/bK.svg');
}
/* Maya */
.maya  cg-board piece.pawn.white {
  background-image: url('../img/chesspieces/maya/wP.svg');
}
.maya  cg-board piece.bishop.white {
  background-image: url('../img/chesspieces/maya/wB.svg');
}
.maya  cg-board piece.knight.white {
  background-image: url('../img/chesspieces/maya/wN.svg');
}
.maya  cg-board piece.rook.white {
  background-image: url('../img/chesspieces/maya/wR.svg');
}
.maya  cg-board piece.queen.white {
  background-image: url('../img/chesspieces/maya/wQ.svg');
}
.maya  cg-board piece.king.white {
  background-image: url('../img/chesspieces/maya/wK.svg');
}
.maya  cg-board piece.pawn.black {
  background-image: url('../img/chesspieces/maya/bP.svg');
}
.maya  cg-board piece.bishop.black {
  background-image: url('../img/chesspieces/maya/bB.svg');
}
.maya  cg-board piece.knight.black {
  background-image: url('../img/chesspieces/maya/bN.svg');
}
.maya  cg-board piece.rook.black {
  background-image: url('../img/chesspieces/maya/bR.svg');
}
.maya  cg-board piece.queen.black {
  background-image: url('../img/chesspieces/maya/bQ.svg');
}
.maya  cg-board piece.king.black {
  background-image: url('../img/chesspieces/maya/bK.svg');
}
/* USCF */
.uscf  cg-board piece.pawn.white {
  background-image: url('../img/chesspieces/uscf/wP.png');
}
.uscf  cg-board piece.bishop.white {
  background-image: url('../img/chesspieces/uscf/wB.png');
}
.uscf  cg-board piece.knight.white {
  background-image: url('../img/chesspieces/uscf/wN.png');
}
.uscf  cg-board piece.rook.white {
  background-image: url('../img/chesspieces/uscf/wR.png');
}
.uscf  cg-board piece.queen.white {
  background-image: url('../img/chesspieces/uscf/wQ.png');
}
.uscf  cg-board piece.king.white {
  background-image: url('../img/chesspieces/uscf/wK.png');
}
.uscf  cg-board piece.pawn.black {
  background-image: url('../img/chesspieces/uscf/bP.png');
}
.uscf  cg-board piece.bishop.black {
  background-image: url('../img/chesspieces/uscf/bB.png');
}
.uscf  cg-board piece.knight.black {
  background-image: url('../img/chesspieces/uscf/bN.png');
}
.uscf  cg-board piece.rook.black {
  background-image: url('../img/chesspieces/uscf/bR.png');
}
.uscf  cg-board piece.queen.black {
  background-image: url('../img/chesspieces/uscf/bQ.png');
}
.uscf  cg-board piece.king.black {
  background-image: url('../img/chesspieces/uscf/bK.png');
}
