<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Read PGN from file</title>
    <script src="/lib/pgnv.js" type="text/javascript"></script>
    <script src="https://use.fontawesome.com/4cf2a2bf7b.js"></script>
</head>
<body class='merida blue'>
<h1>2 games as pgn</h1>
<div id="board"></div>
<h1>Many games as pgnFile</h1>
<div id="board2"></div>
<script>
    var pgn = '[Event "World Championship 28th"] [Site "Reykjavik"] [Date "1972.??.??"] [Round "1"] [White "Spassky, Boris V"] [Black "Fischer, Robert James"] [Result "1-0"] [WhiteElo "2660"] [BlackElo "2785"] [ECO "E56"] 1.d4 Nf6 2.c4 e6 3.Nf3 d5 4.Nc3 Bb4 5.e3 O-O 6.Bd3 c5 7.O-O Nc6 8.a3 Ba5 9.Ne2 dxc4 10.Bxc4 Bb6 11.dxc5 Qxd1 12.Rxd1 Bxc5 13.b4 Be7 14.Bb2 Bd7 15.Rac1 Rfd8 16.Ned4 Nxd4 17.Nxd4 Ba4 18.Bb3 Bxb3 19.Nxb3 Rxd1+ 20.Rxd1 Rc8 21.Kf1 Kf8 22.Ke2 Ne4 23.Rc1 Rxc1 24.Bxc1 f6 25.Na5 Nd6 26.Kd3 Bd8 27.Nc4 Bc7 28.Nxd6 Bxd6 29.b5 Bxh2 30.g3 h5 31.Ke2 h4 32.Kf3 Ke7 33.Kg2 hxg3 34.fxg3 Bxg3 35.Kxg3 Kd6 36.a4 Kd5 37.Ba3 Ke4 38.Bc5 a6 39.b6 f5 40.Kh4 f4 41.exf4 Kxf4 42.Kh5 Kf5 43.Be3 Ke4 44.Bf2 Kf5 45.Bh4 e5 46.Bg5 e4 47.Be3 Kf6 48.Kg4 Ke5 49.Kg5 Kd5 50.Kf5 a5 51.Bf2 g5 52.Kxg5 Kc4 53.Kf5 Kb4 54.Kxe4 Kxa4 55.Kd5 Kb5 56.Kd6  1-0\n' +
        '\n' +
        '[Event "World Championship 28th"] [Site "Reykjavik"] [Date "1972.??.??"] [Round "3"] [White "Spassky, Boris V"] [Black "Fischer, Robert James"] [Result "0-1"] [WhiteElo "2660"] [BlackElo "2785"] [ECO "A77"] 1.d4 Nf6 2.c4 e6 3.Nf3 c5 4.d5 exd5 5.cxd5 d6 6.Nc3 g6 7.Nd2 Nbd7 8.e4 Bg7 9.Be2 O-O 10.O-O Re8 11.Qc2 Nh5 12.Bxh5 gxh5 13.Nc4 Ne5 14.Ne3 Qh4 15.Bd2 Ng4 16.Nxg4 hxg4 17.Bf4 Qf6 18.g3 Bd7 19.a4 b6 20.Rfe1 a6 21.Re2 b5 22.Rae1 Qg6 23.b3 Re7 24.Qd3 Rb8 25.axb5 axb5 26.b4 c4 27.Qd2 Rbe8 28.Re3 h5 29.R3e2 Kh7 30.Re3 Kg8 31.R3e2 Bxc3 32.Qxc3 Rxe4 33.Rxe4 Rxe4 34.Rxe4 Qxe4 35.Bh6 Qg6 36.Bc1 Qb1 37.Kf1 Bf5 38.Ke2 Qe4+ 39.Qe3 Qc2+ 40.Qd2 Qb3 41.Qd4 Bd3+  0-1';
    let cfg = { layout: 'left', manyGames: true, boardSize: "400px", pgn: pgn };
    let cfg2 = { layout: 'left', manyGames: true, boardSize: "400px", pgnFile: '/examples/pgn/great_masters.pgn' };
    PGNV.pgnView('board', cfg);
    PGNV.pgnView('board2', cfg2);
</script>
</body>
</html>