<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>pgnView with FEN</title>
    <script src="/lib/pgnv.js" type="text/javascript"></script>
    <script src="https://use.fontawesome.com/4cf2a2bf7b.js"></script>
</head>
<body class='merida zeit'>
<div id="board" style="width: 400px; float: left; margin-right: 10px"></div>
<script>
    var pgn = "1. e4 e5 2. Nf3 Nc6 3. Bb5 a6 { alternative could be } ( 3... Nf6 )";
    var cfg = { showNotation: false, pgn: pgn, showFen: true };
    var board = PGNV.pgnView('board', cfg);
</script>
</body>
</html>